<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
  <head>
    <title>FixerPRO Login</title>
    <link rel="stylesheet" th:href="@{/styles/general.css}" />
    <link rel="stylesheet" th:href="@{/styles/header.css}" />
    <link rel="stylesheet" th:href="@{/styles/header-login.css}" />
    <link rel="stylesheet" th:href="@{/styles/emailVerification/email-verification.css}" />
    <link rel="stylesheet" th:href="@{/styles/contacts.css}" />

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet" />
  </head>
  <body>
    <!-- HEADER START -->
    <div class="header">
      <div class="container header-content">
        <div class="menu-section">
          <img class="hamburger-menu-icon" th:src="@{/icons/hamburger-menu.png}" />
        </div>
        <img class="logo_fixerpro" th:src="@{/icons/logo_fixerpro.png}" />
        <div class="right-section">
          <div class="header-account">
            <img class="login-icon" th:src="@{/icons/login-icon.png}">
            <div class="login-dropdown-box-container">
              <div class="login-dropdown-box">
                <div class="logged-in-box" sec:authorize="isAuthenticated()">
                  <div class="greet-user">
                    Hello, <span sec:authentication="principal.username"></span>
                  </div>
                  <div class="avatar-container">
                    <img class="avatar-icon" th:src="@{/icons/avatar-icon.png}" />
                  </div>
                  <form class="header-logout-form" action="#" th:action="@{/logout}" method="POST">
                    <input type="submit" value="Logout" class="header-logout-btn" />
                  </form>
                </div>
                <div class="logged-out-box" sec:authorize="isAnonymous()">
                  <div class="greet-user">
                    My Account
                  </div>
                  <div class="header-logout-form">
                    <a th:href="@{/fixerpro/my-login}">
                      <button class="header-logout-btn header-login-btn">
                        Sign in
                      </button>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <img class="cart" id="cart" th:src="@{/icons/cart.png}" />
          <span class="cart-quantity" id="cart-quantity"></span>
          <!-- Cart Block -->
          <div class="cart-block" id="cart-block">
            <div class="cart-items-container"></div>
            <div class="cart-total-container">
              <p class="cart-total">Total:</p>
              <p class="cart-total-price">100 BGN</p>
            </div>
            <button class="order">Order</button>
            <button class="btn close">Close</button>
          </div>
        </div>
      </div>
    </div>
    <!-- HEADER END -->
    <div class="container email-verification-container">
      <div class="email-verification-dialog">
        <div>
          <img class="email-verification-tick" th:src="@{/icons/tick-icon.png}">
        </div>
        <div>
          <h3>Your email is verified!</h3>
        </div>
        <div class="email-verificaiton-btn-container">
          <a class="email-verificaiton-btn" th:href="@{/fixerpro/engine-oil}">
            Continue Shopping
          </a>
        </div>
      </div>
    </div>
    <div class="container contacts">
      <div class="contacts-col">
        <p class="contacts-heading">MY ORDER</p>
        <a class="contacts-link">Order status</a>
        <a class="contacts-link">Privacy Policy</a>
        <a class="contacts-link">General terms</a>
        <a class="contacts-link">Delivery</a>
        <a class="contacts-link">Buy on credit</a>
      </div>
      <div class="contacts-col">
        <p class="contacts-heading">CONTACTS</p>
        <a class="contacts-link">FixerPRO</a>
        <a class="contacts-link">Josef-Orlopp-Straße 55</a>
        <a class="contacts-link">10365 Berlin</a>
        <p class="contacts-text">Germany</p>
        <a class="contacts-link">Telephone: +44 12 3456 7890</a>
        <a class="contacts-link">Email: info@fixerpro.com</a>
      </div>
      <div class="contacts-col">
        <p class="contacts-heading">WORK TIME</p>
        <p class="contacts-text">Monday - Sunday</p>
        <p class="contacts-text">Open 24 hours</p>
      </div>
    </div>
    <script th:src="@{/js/header/header.js}" type="module"></script>
  </body>
</html>
