<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
  <head>
    <title>FixerPRO Login</title>
    <link rel="stylesheet" th:href="@{/styles/general.css}" />
    <link rel="stylesheet" th:href="@{/styles/header.css}" />
    <link rel="stylesheet" th:href="@{/styles/header-login.css}" />
    <link rel="stylesheet" th:href="@{/styles/contacts.css}" />
    <link rel="stylesheet" th:href="@{/styles/login.css}" />
    <link rel="stylesheet" th:href="@{/styles/sign-up.css}" />

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet" />
  </head>
  <body>
    <!-- HEADER START -->
    <div class="header">
      <div class="container header-content">
        <div class="menu-section">
          <img class="hamburger-menu-icon" th:src="@{/icons/hamburger-menu.png}" />
        </div>
        <img class="logo_fixerpro" th:src="@{/icons/logo_fixerpro.png}" />
        <div class="right-section">
          <div class="header-account">
            <img class="login-icon" th:src="@{/icons/login-icon.png}">
            <div class="login-dropdown-box-container">
              <div class="login-dropdown-box">
                <div class="logged-in-box" sec:authorize="isAuthenticated()">
                  <div class="greet-user">
                    Hello, <span sec:authentication="principal.username"></span>
                  </div>
                  <div class="avatar-container">
                    <img class="avatar-icon" th:src="@{/icons/avatar-icon.png}" />
                  </div>
                  <div sec:authorize="hasRole('ADMIN')" class="header-logout-form">
                    <a th:href="@{/fixerpro/admin/engine-oil}">
                      <button class="header-logout-btn">Admin Page</button>
                    </a>
                  </div>
                  <form class="header-logout-form" action="#" th:action="@{/logout}" method="POST">
                    <input type="submit" value="Logout" class="header-logout-btn" />
                  </form>
                </div>
                <div class="logged-out-box" sec:authorize="isAnonymous()">
                  <div class="greet-user">
                    My Account
                  </div>
                  <div class="header-logout-form">
                    <a th:href="@{/fixerpro/my-login}">
                      <button class="header-logout-btn header-login-btn">
                        Sign in
                      </button>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <img class="cart" id="cart" th:src="@{/icons/cart.png}" />
          <span class="cart-quantity" id="cart-quantity"></span>
          <!-- Cart Block -->
          <div class="cart-block" id="cart-block">
            <div class="cart-items-container"></div>
            <div class="cart-total-container">
              <p class="cart-total">Total:</p>
              <p class="cart-total-price">100 BGN</p>
            </div>
            <button class="order">Order</button>
            <button class="btn close">Close</button>
          </div>
        </div>
      </div>
    </div>
    <!-- HEADER END -->
    <div class="container login-container">
      <div class="login-title-container">
        <h2>Sign in</h2>
      </div>
      <div class="loginbox">
        <div class="authorization-type-container">
          <label class="login-checkbox">
            Sign in
            <input id="sign-in-radio" type="radio" name="authorization-type" checked />
            <i class="login-radio-button"></i>
          </label>
          <label class="login-checkbox">
            Sing up
            <input id="sign-up-radio" type="radio" name="authorization-type" />
            <i class="login-radio-button"></i>
          </label>
        </div>
        <!-- Sign In Section -->
        <!-- Spring expects the username to be in a field username and the password to be in a field password
        for the default behaviour -->
        <form id="sign-in-form" class="login-grid">
          <div th:if="${param.error}" class="sign-info-container">
            <div class="sign-error-text">
              Wrong user and password.
            </div>
          </div>
          <div th:if="${param.signedUp}" class="sign-info-container">
            <div class="sign-up-success-text">
              Successful sign up, we've sent you a verification email.
            </div>
          </div>
          <div class="login-input-row">
            <div class="login-input-title">
              <div>
                User
              </div>
              <div class="required-field-span">*</div>
            </div>
            <div>
              <input id="sign-in-username-input" type="text" name="username" class="login-user-input" />
            </div>
          </div>
          <div class="login-input-row">
            <div class="login-input-title">
              <div>
                Password
              </div>
              <div class="required-field-span">*</div>
            </div>
            <div class="password-container">
              <input id="sign-in-password-input" type="password" name="password" class="login-user-input" />
              <span class="password-show-btn">SHOW</span>
            </div>
          </div>
          <div class="forgotten-password-link-container">
            <a class="forgotten-password-link">Forgotten password?</a>
          </div>
          <div class="sign-in-btn-container">
            <input id="sign-in-btn" type="submit" class="sign-in-btn" value="SIGN IN" />
          </div>
          <div class="login-or">
            <span class="login-or-text">OR</span>
          </div>
          <div class="login-with-google-container">
            <a class="google-link" th:href="@{/oauth2/authorization/google}">
              <div class="login-google-btn">
                <img class="login-google-logo" th:src="@{/icons/google-g-logo.png}">
                <div class="google-text">Continue with Google</div>
              </div>
            </a>
          </div>
        </form>
        <!-- Sign Up Section-->
        <form id="sign-up-form" class="sign-up-grid">
          <div id="sign-up-error-text" class="sign-info-container">
            <div class="sign-error-text">
              
            </div>
          </div>
          <div class="login-input-row">
            <div class="login-input-title">
              <div>
                Email
              </div>
              <div class="required-field-span">*</div>
            </div>
            <div>
              <input id="sign-up-email-field" type="text" class="login-user-input" />
              <p id="email-error-text" class="input-error-text">Please, enter a valid email address.</p>
            </div>
          </div>
          <div class="login-input-row">
            <div class="login-input-title">
              <div>
                Username
              </div>
              <div class="required-field-span">*</div>
            </div>
            <div>
              <input id="sign-up-username-field" type="text" class="login-user-input" />
              <p id="username-error-text" class="input-error-text">Username should be minimun 6 characters, at least one letter and one number.</p>
            </div>
          </div>
          <div class="login-input-row">
            <div class="login-input-title">
              <div>
                Password
              </div>
              <div class="required-field-span">*</div>
            </div>
            <div class="password-container">
              <input id="sign-up-password-field" type="password" class="login-user-input" />
              <span class="password-show-btn">SHOW</span>
              <p id="password-error-text" class="input-error-text">Password should be minimum 8 characters, at least one letter and one number.</p>
            </div>
          </div>
          <div class="login-input-row">
            <div class="login-input-title">
              <div>
                Confirm Password
              </div>
              <div class="required-field-span">*</div>
            </div>
            <div class="password-container">
              <input id="sign-up-confirm-password-field" type="password" class="login-user-input" />
              <span class="password-show-btn">SHOW</span>
              <p id="confirm-password-error-text" class="input-error-text">Passwords don't match.</p>
            </div>
          </div>
          <div class="sign-in-btn-container">
            <button class="sign-in-btn sign-up-btn">
              SIGN UP
            </button>
          </div>
        </form>
      </div>
    </div>
    <!-- FOOTER START -->
    <div class="contacts">
      <div class="container contacts-container">
        <div class="contacts-col">
          <p class="contacts-heading">MY ORDER</p>
          <a class="contacts-link">Order status</a>
          <a class="contacts-link">Privacy Policy</a>
          <a class="contacts-link">General terms</a>
          <a class="contacts-link">Delivery</a>
          <a class="contacts-link">Buy on credit</a>
        </div>
        <div class="contacts-col">
          <p class="contacts-heading">CONTACTS</p>
          <a class="contacts-link">FixerPRO</a>
          <a class="contacts-link">Josef-Orlopp-Straße 55</a>
          <a class="contacts-link">10365 Berlin</a>
          <p class="contacts-text">Germany</p>
          <a class="contacts-link">Telephone: +44 12 3456 7890</a>
          <a class="contacts-link">Email: info@fixerpro.com</a>
        </div>
        <div class="contacts-col">
          <p class="contacts-heading">WORK TIME</p>
          <p class="contacts-text">Monday - Sunday</p>
          <p class="contacts-text">Open 24 hours</p>
        </div>
      </div>
    </div>
    <!-- FOOTER END -->
    <script src="https://www.google.com/recaptcha/api.js?render=YOUR_SITE_KEY"></script>
    <script th:src="@{/js/header/header.js}" type="module"></script>
    <script th:src="@{/js/login/prepare-login.js}" type="module"></script>
    <script th:src="@{/js/login/login.js}" type="module"></script>
    <script th:src="@{/js/login/sign-up.js}" type="module"></script>
  </body>
</html>
