.product-info {
  height: 500px;
}

.product-image-container {
  border: 1px solid grey;
  display: inline-block;
  padding: 10px;
}

.product-image {
  height: 180px;
  width: 150px;
}

.product-description {
  display: inline-block;
  margin-left: 10px;
  vertical-align: top; /* important it may not work */
}

.product-name {
  margin-bottom: 5px;
}

.product-name-under-line {
  display: inline-block;
}

.under-line-col {
  display: inline-block;
  margin-right: 10px;
  margin-top: 0;
  font-size: 12px;
}

.quantity-text {
  display: inline-block;
  font-weight: 500;
}

.quantity-input {
  width: 30px;
}

#minus-button {
  cursor: pointer;
}

#plus-button {
  cursor: pointer;
}

.quantity-buy {
  background-color: rgb(3, 129, 255);
  border: none;
  color: white;
  cursor: pointer;
  display: block;
  height: 40px;
  width: 70px;
}

.quantity-buy-cart {
  width: 20px;
  height: 20px;
  margin-left: 5px;
  margin-right: 3px;
  margin-top: 8px;
  vertical-align: middle;
}

.quantity-buy-text {
  display: inline-block;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  vertical-align: bottom;
}

.row-text {
  display: inline-block;
  margin-right: 10px;
}

.description {
  background-color: #f3f3f3;
  border: 1px solid grey;
  height: 130px;
  padding: 10px;
}